# Air Quality Index Analysis - a Descriptive and Inferential Analysis

## I. Cleaning Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# reading the dataset
aqi_data = pd.read_csv("Dilshad_Garden_Data.csv")

In [5]:
aqi_data.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2024-01-01,169.57,305.14,28.77,29.65,38.54,62.22,52.05,0.77,33.90,...,2.06,NaN,78.67,1.22,133.79,NaN,0.0,33.45,NaN,-0.22
1,2024-01-02,148.21,288.49,29.95,27.63,38.40,59.98,29.71,0.78,32.73,...,2.06,NaN,73.04,1.13,131.23,NaN,0.0,42.14,NaN,-0.22
2,2024-01-03,142.83,266.59,31.23,29.64,40.49,56.22,25.18,1.14,32.70,...,2.04,NaN,91.74,1.05,152.68,NaN,0.0,24.69,NaN,-0.25
3,2024-01-04,183.10,343.50,37.54,33.01,47.30,56.74,21.95,0.88,36.09,...,2.05,NaN,88.92,1.13,86.84,NaN,0.0,21.57,NaN,-0.26
4,2024-01-05,143.22,254.06,36.58,33.53,46.82,40.75,31.97,0.55,28.09,...,3.29,NaN,94.04,1.02,109.93,NaN,0.0,12.37,NaN,-0.26

In [6]:
aqi_data.tail()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
289,2024-10-16,78.06,184.02,31.52,28.99,39.91,23.69,4.64,2.67,24.77,...,4.44,NaN,52.33,0.72,208.07,NaN,0.0,90.49,NaN,-0.08
290,2024-10-17,103.00,243.78,32.18,36.18,44.56,19.11,4.45,3.39,24.62,...,4.72,NaN,60.51,0.69,141.44,NaN,0.0,87.69,NaN,-0.04
291,2024-10-18,90.13,229.82,47.11,48.01,61.52,38.29,4.32,2.68,25.35,...,4.40,NaN,56.47,0.75,161.09,NaN,0.0,94.99,NaN,-0.06
292,2024-10-19,99.84,226.57,38.00,34.69,47.65,44.94,7.58,2.90,25.88,...,4.41,NaN,54.68,0.73,151.01,NaN,0.0,91.50,NaN,-0.09
293,2024-10-20,100.20,217.90,34.25,36.10,45.60,48.06,10.06,2.38,25.92,...,4.35,NaN,65.00,0.71,176.93,NaN,0.0,90.02,NaN,-0.07

In [ ]:
# removing null columns